{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock  %}</title>
    <link rel="stylesheet" href="{%  static 'css/style.css' %}">
    <link rel="stylesheet" href="{%  static 'css/nav.css' %}">

    <link rel="stylesheet" href="{%  static 'css/slider.css' %}">
    <link rel="stylesheet" href="{%  static 'css/login.css' %}">

    <script src="https://kit.fontawesome.com/0560d0caf7.js" crossorigin="anonymous"></script>
    <script defer src="{% static 'js/nav.js' %}"></script>
    <link rel="stylesheet" href="{% static 'owl/owl.carousel.min.css'%}">

    <link rel="stylesheet" href="{% static 'owl/owl.theme.default.css'%}">

    <script defer src="{% static 'js/jquery.js'%}"></script>

    <script defer src="{% static 'js/owlslidersettion.js'%}"></script>


    <script defer src="{% static 'owl/owl.carousel.min.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@0.5.2/dist/htmx.min.js"></script>
    <script defer src="{% static 'js/reply.js' %}"></script>

</head>
<body>

      {% include 'layouts/nav.html' %}
    
      {% block content %}{% endblock  %}
  
</body>
</html>