<section class="sidebarsection">
   <ul class="sidebarul">
    <li><a href=""><i class="fa-solid fa-house"></i><p class="sidebarname">Home</p></a></li>

    <li><a href=""><i class="fa-solid fa-briefcase"></i> <p class="sidebarname">Shorts</p></a></li>
    <li><a href=""><i class="fa-regular fa-circle-play"></i> <p class="sidebarname">Subscription</p></a></li>

    <li><a href=""><i class="fa-brands fa-youtube"></i> <p class="sidebarname">library</p></a></li>
    <li><a href=""><i class="fa-regular fa-clock"></i> <p class="sidebarname">Watch</p></a></li>
    <li><a href=""><i class="fa-brands fa-youtube"></i> <p class="sidebarname">history</p></a></li>

    <li><a href=""><i class="fa-solid fa-thumbs-up"></i> <p class="sidebarname">Likes</p></a></li>

    <li><a href=""><i class="fa-solid fa-leaf"></i><p class="sidebarname">Trending</p> </a></li>

    <li><a href=""><i class="fa-solid fa-headphones"></i> <p class="sidebarname">music</p></a></li>
   </ul>
</section>